@using VirtualDmScreen.Models
@model List<VirtualDmScreen.Models.DiceRoll>
@using System.Linq;

@if (Model.Count != 0)
{
  @foreach (DiceRoll roll in Model)
    {
      <p>
        <i>@roll.DateTimeStamp</i>
        <br>
        <b>@roll.Character.Name</b> rolled @roll.NumberOfDice @roll.NumberOfSides-sided dice resulting in @roll.Result
      </p>
    }
}