@using VirtualDmScreen.Models
@model VirtualDmScreen.Models.DiceRoll
@using System.Linq;

@if (ViewBag.diceRolls.Count != 0)
{
  @foreach (DiceRoll roll in ViewBag.diceRolls)
    {
      <p>
        <i>@roll.DateTimeStamp</i>
        <br>
        <b>@roll.Character.Name</b> rolled @roll.NumberOfDice @roll.NumberOfSides-sided dice resulting in @roll.Result
      </p>
    }
}

@* @using (Html.BeginForm("Create","DiceRolls"))
{
  @Html.Label("How many dice are you rolling?")
  @Html.TextBoxFor(model => model.NumberOfDice)

  @Html.Label("How many sides does each die have? (they must all be the same)")
  @Html.TextBoxFor(model => model.NumberOfSides)

  <input type = "submit" value="Roll dem bones" class="btn btn-default" />
} *@

@{ Html.RenderPartial("Create", new DiceRoll()); }
